.App {
}
.ticker-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  padding-top: 2px;
  min-height: 55px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #171716;
  line-height: 1.5;
  width: 50%;
  max-width: 450px;
  padding: 15px 5px;
  margin-left: 35em;
}
.ticker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  line-height: 1.5;
  font-weight: 100;
}
.bit-coin-icon {
  font-size: 40px;
  width: 60px;
  color: white;
}

.svg-background {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  display: block;
}
.ticker-items {
  display: flex;
  flex: 1 1 0%;
  flex-flow: column;
  flex-wrap: wrap;
  font-size: 15px;
  color: white;
}
.bfx-green-text {
  color: #76d115 !important;
}
.bfx-red-text {
  color: #e44b44 !important;
}

.gray-text {
  color: #b3b3b3;
}
.button-container {
  margin-top: 10px;
}
.btn {
  border-radius: 10px;
  margin-left: 10px;
}
.connection-closed-message {
  margin-top: 10px;
  display: none;
}
